<header
  class="bg-transparent backdrop-invert-10 backdrop-blur border-b border-frenchgrey/10 mb-5"
>
  <nav
    class="no-print flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <a href="">
      <i class="pi pi-home" style="font-size: x-large"></i>
    </a>

    <!-- Desktop Nav Links -->
    <div class="flex gap-x-12">
      <a href="#" class="text-sm/6 font-semibold">Home</a>
      <a href="resume" class="text-sm/6 font-semibold">Resume</a>
      <a href="portfolio" class="text-sm/6 font-semibold">Portfolio</a>
      <a href="roadmap" class="text-sm/6 font-semibold">Roadmap</a>
    </div>
  </nav>
</header>
