# Ignore the entire dist folder
/dist

# Ignore node_modules
/node_modules

# Ignore specific files
package-lock.json
package.json
angular.json
tsconfig.app.json
tsconfig.spec.json
tsconfig.json

# Ignore files starting with "lint-"
lint-*
