<div class="p-3 rounded-r-2xl border border-gray-300 border-double">
  <div class="w-full">
    <span class="text-base mr-2">{{ name() }}</span>
    @if (link()) {
      <p-button
        size="small"
        class="float-right no-print"
        label="See project"
        severity="secondary"
        (click)="onClickLink(link()!)"
      ></p-button>
    }
  </div>
  <ul>
    @for (bullet of bullets(); track bullet) {
      <li class="text-xs text-gray-500">&nbsp;-{{ bullet }}</li>
    }
  </ul>
</div>
