<p-panel>
  <ng-template #header>
    <div class="flex items-center gap-2">
      <span class="font-bold">{{ name() }}</span>
      <p-tag
        [rounded]="true"
        [value]="status()"
        [severity]="statusSeverity()"
      ></p-tag>
    </div>
  </ng-template>
  <div class="grid grid-cols-3">
    <p class="col-span-2">{{ description() }}</p>
    @if (link()) {
      <p-button
        class="justify-self-end self-center"
        label="See project"
        severity="secondary"
        (click)="onClickLink(link()!)"
      ></p-button>
    }
  </div>
  <ng-template #icons>
    <i
      [class]="typeIcon()"
      [pTooltip]="typeDescription()"
      tooltipPosition="top"
    ></i>
  </ng-template>
</p-panel>
