<div class="relative isolate overflow-hidden">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-5xl font-semibold tracking-tight text-frenchgrey sm:text-7xl"
      >
        Hello, I'm Kelly
      </h2>
      <p
        class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8"
      >
        A place where you can learn about me
      </p>
      <p class="md:hidden font-medium text-pretty text-gray-300">
        Are you checking if I know responsive design or just visiting on your
        phone? ;)
      </p>
    </div>
    <div
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 md:mx-0 md:max-w-none md:grid-cols-3 md:gap-8"
    >
      <a href="resume">
        <p-card
          styleClass="text-gray-300! ring-1! bg-galcier/60! ring-white/10 ring-inset!"
        >
          <ng-template #title>
            <!-- <i class="pi pi-home" style="color:var(--p-primary-500)"></i><span class="font-semibold text-white">  -->
            <span class="font-semibold text-white">
              I want to read about your qualifications</span
            >
          </ng-template>
          <ng-template #subtitle
            ><span class="text-gray-100">This is a resume</span></ng-template
          >
        </p-card>
      </a>

      <a href="roadmap">
        <p-card
          styleClass="text-gray-300! ring-1! bg-galcier/60! ring-white/10 ring-inset!"
        >
          <ng-template #title>
            <!-- <i class="pi pi-home" style="color:var(--p-primary-500)"></i> -->
            <span class="font-semibold text-white">
              What's next for the site?</span
            ></ng-template
          >
        </p-card>
      </a>
    </div>
  </div>
</div>
