<p-toast />
<div class="flex flex-col m-10 gap-4">
  <!-- Controls -->
  <p-button
    label="Download as PDF"
    icon="pi pi-download"
    class="no-print ml-auto"
    severity="success"
    (click)="onClickPrint()"
  />

  <p-divider />

  <!-- Resume -->
  <div>
    <!-- Header -->
    <div class="sm:flex items-center gap-4">
      <!-- Name and pic -->
      <div>
        <img class="sm:w-32 sm:h-32 rounded-full" src="/grapefruit-slice.jpg" />
        <div>
          <p class="text-4xl">{{ resume().name }}</p>
          <p class="text-xl text-gray-500">{{ resume().title }}</p>
        </div>
      </div>

      <!-- Links -->
      <div class="sm:flex sm:flex-col ml-auto gap-2">
        @for (link of resume().links; track $index) {
          <p-tag
            class="cursor-pointer!"
            icon="pi pi-link"
            severity="warn"
            [value]="link"
            (click)="onClickLink(link)"
          ></p-tag>
        }
        <p-tag
          class="cursor-pointer!"
          icon="pi pi-envelope"
          severity="info"
          [value]="resume().email"
          (click)="onClickEmail(resume().email)"
        ></p-tag>
        <p-tag
          class="cursor-pointer!"
          icon="pi pi-phone"
          severity="info"
          [value]="resume().phone"
          (click)="onClickPhone(resume().phone)"
        ></p-tag>
      </div>
    </div>

    <br />
    <!-- About me -->
    <div>
      <span class="text-2xl">About me</span>
      <p class="text-gray-500">
        {{ resume().description }}
      </p>
    </div>
    <br />

    <!-- Skills -->
    <div class="grid grid-cols-3 gap-2">
      @for (skillType of skillTypes(); track skillType) {
        <p-panel class="col-span-1">
          <ng-template #header>
            <span class="text-xl">{{ skillType }}</span>
          </ng-template>
          <ul>
            @for (skill of getFilteredSkills(skillType); track skill) {
              <li class="flex items-center">
                <i
                  class="pi pi-circle-fill md:hidden!"
                  style="font-size: 0.25rem"
                ></i>
                &nbsp;{{ skill.name }}
              </li>
            }
          </ul>
        </p-panel>
      }
    </div>
    <br />

    <!-- Experience -->
    <div class="col-span-4">
      <span class="text-2xl">Professional Experience</span>
      <div class="flex flex-col gap-2">
        @for (item of resume().workExperiences; track item) {
          <app-work-experience [workExperience]="item"></app-work-experience>
        }
      </div>
    </div>
    <br />

    @if (resume().personalProjects) {
      <!-- Personal Projects -->
      <div class="col-span-4">
        <span class="text-2xl">Personal Projects</span>
        <div class="flex flex-col gap-2">
          @for (item of resume().personalProjects; track item) {
            <app-personal-project
              [personalProject]="item"
            ></app-personal-project>
          }
        </div>
      </div>
    }
    <br />
    <div>
      <span class="text-2xl">Education</span>
      @for (education of resume().education; track education) {
        <app-education [education]="education"></app-education>
      }
    </div>
    <br />
  </div>
</div>
