<p-toast />
<p-panel class="grid m-10">
  <ng-template #header>
    <div class="flex items-center gap-4">
      <img class="sm:w-32 sm:h-32 rounded-full" src="/grapefruit-slice.jpg" />
      <div>
        <p class="text-4xl">{{ resume().name }}</p>
        <p class="text-xl text-gray-500">{{ resume().title }}</p>
      </div>
    </div>
  </ng-template>
  <ng-template #icons>
    <div class="lg:flex lg:flex-col gap-2">
      @for (link of resume().links; track $index) {
        <p-tag
          class="cursor-pointer!"
          icon="pi pi-link"
          severity="warn"
          [value]="link"
          (click)="onClickLink(link)"
        ></p-tag>
      }
      <p-tag
        class="cursor-pointer!"
        icon="pi pi-envelope"
        severity="info"
        [value]="resume().email"
        (click)="onClickEmail(resume().email)"
      ></p-tag>
      <p-tag
        class="cursor-pointer!"
        icon="pi pi-phone"
        severity="info"
        [value]="resume().phone"
        (click)="onClickPhone(resume().phone)"
      ></p-tag>
    </div>
  </ng-template>

  <!-- About me -->
  <div>
    <span class="text-2xl">About me</span>
    <p class="text-gray-500">
      {{ resume().description }}
    </p>
  </div>

  <!-- Skills -->
  <div class="grid grid-cols-4">
    <p-panel class="col-span-2">
      <ng-template #header>
        <span class="text-2xl">Skills</span>
      </ng-template>
      <ul>
        <li>Object oriented design</li>
        <li>Web architechture</li>
        <li>UX design</li>
        <li>REST design</li>
        <li>Microservice design</li>
        <li>Containerization</li>
      </ul>
    </p-panel>
    <p-panel class="col-span-2">
      <ng-template #header>
        <span class="text-2xl">Tech</span>
      </ng-template>
      <ul>
        <li class="flex flex-col">
          <span class="font-bold">Languages</span>
          <span class="text-gray-500"
            >Javascript, Python, HTML, CSS, Bash (shell scripting), Java,
            SQL</span
          >
        </li>
        <li class="flex flex-col">
          <span class="font-bold">Frameworks</span>
          <span class="text-gray-500 float-right"
            >Angular, PrimeNg, Tailwindcss, Spring</span
          >
        </li>
        <li class="flex flex-col">
          <span class="font-bold">DevOps/CICD</span>
          <span class="text-gray-500 float-right"
            >Linux RHEL, Cron, Docker, Gitlab Pipelines, Automic Scheduler,
            Google Cloud Platform</span
          >
        </li>
      </ul>
    </p-panel>
  </div>

  <!-- Experience -->
  <p-panel class="col-span-4">
    <ng-template #header>
      <span class="text-2xl">Professional Experience</span>
    </ng-template>
    @for (item of resume().workExperiences; track item) {
      <app-work-experience [workExperience]="item"></app-work-experience>
    }
  </p-panel>
</p-panel>
