<div class="p-3 rounded-r-2xl border border-gray-300 border-double">
  <div class="w-full">
    <div class="flex gap-2 items-baseline">
      <span class="text-l mr-2">{{ employer() }}</span>
      <span class="text-sm text-gray-500">{{ location() }}</span>
    </div>
    <div>
      <span class="text-sm">{{ title() }}</span>
      <span class="text-sm text-gray-500 float-right"
        >{{ startDate() | conditionalDate }} -
        {{ endDate() | conditionalDate }}</span
      >
    </div>
  </div>
  <ul>
    @for (bullet of bullets(); track bullet) {
      <li class="text-sm text-gray-500">{{ bullet }}</li>
    }
  </ul>
</div>
