<p-toast />
<div class="flex flex-col gap-4">
  <!-- Resume -->
  <div class="sm:grid grid-cols-3">
    <!-- Header -->
    <div class="sm:flex items-center col-span-3 m-2">
      <!-- Name and pic -->
      <div>
        <img class="sm:w-32 sm:h-32 rounded-full" src="kelly-edited.JPG" />
        <div>
          <p class="text-4xl text-white print:text-gray-900">
            {{ resume().name }}
          </p>
          <p class="text-xl text-white/70 print:text-gray-500">
            {{ resume().title }}
          </p>
        </div>
      </div>

      <!-- Links -->
      <div
        class="flex flex-col items-start sm:items-end ml-auto gap-1 min-w-0 max-w-full"
      >
        @for (link of resume().links; track $index) {
          <app-glow-button
            glowSweep
            icon="pi pi-link"
            [label]="link"
            [sweep]="true"
            (onClick)="onClickLink(link)"
          ></app-glow-button>
        }
        <app-glow-button
          glowSweep
          icon="pi pi-envelope"
          [label]="resume().email"
          [sweep]="true"
          (onClick)="onClickEmail(resume().email)"
        ></app-glow-button>
        <app-glow-button
          glowSweep
          icon="pi pi-phone"
          [label]="resume().phone"
          [sweep]="true"
          (onClick)="onClickPhone(resume().phone)"
        ></app-glow-button>
      </div>
    </div>

    <!-- Skills -->
    <div
      class="col-span-1 p-3 mb-4 sm:mb-0 sm:mr-2 rounded-2xl sm:rounded-r-none border border-gray-300 border-double flex flex-col justify-start"
    >
      @for (skillType of skillTypes(); track skillType) {
        <div class="p-1">
          <h1 class="text-lg text-white/90 print:text-gray-900">
            {{ skillType }}
          </h1>
          <ul>
            @for (skill of getFilteredSkills(skillType); track skill) {
              <li
                class="flex items-center text-white/70 text-sm print:text-gray-500"
              >
                &nbsp;- {{ skill.name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="col-span-2 flex flex-col gap-2">
      <!-- About me -->
      <div class="flex flex-col">
        <app-section-heading>About me</app-section-heading>
        <p class="text-white/70 text-sm print:text-gray-500">
          {{ resume().description }}
        </p>
      </div>

      <div class="flex flex-col">
        <app-section-heading>Education</app-section-heading>
        @for (education of resume().education; track education) {
          <app-education [education]="education"></app-education>
        }
      </div>

      <!-- Experience -->
      <div class="flex flex-col">
        <app-section-heading>Professional Experience</app-section-heading>
        <div class="flex flex-col gap-2">
          @for (item of resume().workExperiences; track item) {
            <app-work-experience [workExperience]="item"></app-work-experience>
          }
        </div>
      </div>

      @if (resume().personalProjects) {
        <!-- Personal Projects -->
        <div class="flex flex-col">
          <app-section-heading>Personal Projects</app-section-heading>
          <div class="flex flex-col gap-2">
            @for (item of resume().personalProjects; track item) {
              <app-personal-project
                [personalProject]="item"
              ></app-personal-project>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
