<p-toast />
<div class="flex flex-col gap-4">
  <!-- Resume -->
  <div class="grid grid-cols-3">
    <!-- Header -->
    <div class="sm:flex items-center col-span-3 m-6">
      <!-- Name and pic -->
      <div>
        <img class="sm:w-32 sm:h-32 rounded-full" src="/grapefruit-slice.jpg" />
        <div>
          <p class="text-4xl">{{ resume().name }}</p>
          <p class="text-xl text-gray-500">{{ resume().title }}</p>
        </div>
      </div>

      <!-- Links -->
      <div class="sm:flex sm:flex-col ml-auto gap-2">
        @for (link of resume().links; track $index) {
          <p-tag
            class="cursor-pointer!"
            icon="pi pi-link"
            severity="warn"
            [value]="link"
            (click)="onClickLink(link)"
          ></p-tag>
        }
        <p-tag
          class="cursor-pointer!"
          icon="pi pi-envelope"
          severity="info"
          [value]="resume().email"
          (click)="onClickEmail(resume().email)"
        ></p-tag>
        <p-tag
          class="cursor-pointer!"
          icon="pi pi-phone"
          severity="info"
          [value]="resume().phone"
          (click)="onClickPhone(resume().phone)"
        ></p-tag>
      </div>
    </div>

    <!-- Skills -->
    <div
      class="col-span-1 p-3 mr-2 rounded-l-2xl border border-gray-300 border-double flex flex-col justify-between"
    >
      @for (skillType of skillTypes(); track skillType) {
        <div class="p-1">
          <h1 class="text-lg">{{ skillType }}</h1>
          <ul>
            @for (skill of getFilteredSkills(skillType); track skill) {
              <li class="flex items-center text-gray-500 text-base">
                &nbsp;- {{ skill.name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="col-span-2 flex flex-col gap-2">
      <!-- About me -->
      <div class="flex flex-col">
        <span class="text-lg">About me</span>
        <p class="text-gray-500 text-sm">
          {{ resume().description }}
        </p>
      </div>

      <!-- Experience -->
      <div class="flex flex-col">
        <span class="text-lg">Professional Experience</span>
        <div class="flex flex-col gap-2">
          @for (item of resume().workExperiences; track item) {
            <app-work-experience [workExperience]="item"></app-work-experience>
          }
        </div>
      </div>

      @if (resume().personalProjects) {
        <!-- Personal Projects -->
        <div class="flex flex-col">
          <span class="text-lg">Personal Projects</span>
          <div class="flex flex-col gap-2">
            @for (item of resume().personalProjects; track item) {
              <app-personal-project
                [personalProject]="item"
              ></app-personal-project>
            }
          </div>
        </div>
      }
      <div class="flex flex-col">
        <span class="text-lg">Education</span>
        @for (education of resume().education; track education) {
          <app-education [education]="education"></app-education>
        }
      </div>
    </div>
  </div>
</div>
